---
export interface Props {
	title: string;
	description: string;
	href: string;
	src: string;
	alt: string;
}

const { title, description, href, src, alt } = Astro.props as Props;
---

<article class="w-full">
	<div
		class="flex flex-col md:flex-row space-y-8 md:space-x-8 md:space-y-0 max-w-md md:max-w-none mx-auto"
	>
		<div class="aspect-square w-full md:max-w-sm">
			<img class="object-cover shadow-xl rounded-xl" {src} {alt} />
		</div>
		<div>
			<h2 class="text-2xl font-bold text-gray-700 tracking-tight sm:text-3xl underline">
				<a {href}>
					{title}
				</a>
			</h2>
			<p class="text-lg text-gray-500 mt-6">
				{description}
			</p>
			<div class="mt-3">
				<a {href} class="text-base font-bold text-brand-600 hover:text-brand-500">
					Read full story
				</a>
			</div>
		</div>
	</div>
</article>
